@mixin min($size) {
  @media screen and (min-width: $size+px) {
    @content;
  }
}
@mixin between($size1, $size2) {
  @media screen and (min-width: $size1+px) and (max-width: $size2+px) {
    @content;
  }
}
@mixin max($size) {
  @media screen and (max-width: $size+px) {
    @content;
  }
}
@mixin transition($size, $size2) {
    -webkit-transition: $size $size2;
    -o-transition: $size $size2;
    -moz-transition: $size $size2;
    transition: $size $size2;
}
@mixin clearfix {
  &:after {
    content: " ";
    font-size: 0;
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
  }
}
@mixin just {
  text-align: justify;
  line-height: 0;
  &>ul,
  &>div,
  &>li {
    display: inline-block;
    line-height: normal;
  }
  &:after {
    content: ' ';
    font-size: 0;
    display: inline-block;
    height: 0;
    width: 100%;
  }
}
@mixin table_just {
  display: table;
  width: 100%;
  &>a,
  &>div,
  &>li {
    display: table-cell;
  }
}
@mixin nobr {
  br {
    display: none;
  }
}

@mixin type($num) {
  &:nth-of-type( #{$num} ) {
    @content;
  }
}

@mixin child($num) {
  &:nth-child( #{$num} ) {
    @content;
  }
}

@function em($num, $parent: 16){
  @return $num/$parent+em;
}
